
@{
    ViewBag.Title = "Index";
}

@section demoParagraph{
    <h1>HELLOO BLOG</h1>
    <p>Lorem ipsum</p>

}


<!-- Page Banner Area Start -->
<div class="page-banner-area blog">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 d-flex pr-lg-0">
                <div class="banner-content">
                    <h2 class="section-title wow animated fadeInUp" data-wow-delay="0.25s">Clean Living <br>Blog</h2>
                    <div class="banner-bottom-img wow animated fadeInUp" data-wow-delay="0.75s">
                        <img src="~/Public/images/banner/blog-banner-bottom.png" alt="Blog Banner Bottom">
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="banner-img wow animated fadeInUp" data-wow-delay="0.5s">
                    <div class="pop-over wow animated fadeInRight" data-wow-delay="1s"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Banner Area End -->
<!-- Blog Section Start -->
<section class="blog-page">
    <div class="container">
        <div class="row blog-loadmore">
            <div class="col-md-12 loaditem">
                <div class="blog-box">
                    <div class="blog-img wow animated fadeInUp" data-wow-delay="0.25s"></div>
                    <div class="blog-title-box wow animated fadeInRight" data-wow-delay="0.5s">
                        <h3><a href="@Url.Action("Details", "Blog")">How to Make Your Bed Like a Pro</a></h3>
                        <span class="date">AUG 23, 2019</span>
                    </div>
                    <div class="blog-content wow animated fadeInUp" data-wow-delay="0.75s">
                        <p>Sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et</p>
                        <p>Dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergrenEirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                        <p>consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12 loaditem">
                <div class="blog-box">
                    <div class="blog-img wow animated fadeInUp" data-wow-delay="0.45s"></div>
                    <div class="blog-title-box wow animated fadeInRight" data-wow-delay="0.5s">
                        <h3><a href="@Url.Action("Details", "Blog")">Living Room Decor Ideas</a></h3>
                        <span class="date">AUG 23, 2019</span>
                    </div>
                    <div class="blog-content wow animated fadeInUp" data-wow-delay="0.75s">
                        <p>Sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et</p>
                        <p>Dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergrenEirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                        <p>consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12 loaditem">
                <div class="blog-box">
                    <div class="blog-img wow animated fadeInUp" data-wow-delay="0.65s"></div>
                    <div class="blog-title-box wow animated fadeInRight" data-wow-delay="0.5s">
                        <h3><a href="@Url.Action("Details", "Blog")">How To Clean Your Glass Top Stove</a></h3>
                        <span class="date">AUG 23, 2019</span>
                    </div>
                    <div class="blog-content wow animated fadeInUp" data-wow-delay="0.75s">
                        <p>Sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et</p>
                        <p>Dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergrenEirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                        <p>consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12 loaditem">
                <div class="blog-box">
                    <div class="blog-img wow animated fadeInUp" data-wow-delay="0.25s"></div>
                    <div class="blog-title-box wow animated fadeInRight" data-wow-delay="0.5s">
                        <h3><a href="@Url.Action("Details", "Blog")">How to Make Your Bed Like a Pro</a></h3>
                        <span class="date">AUG 23, 2019</span>
                    </div>
                    <div class="blog-content wow animated fadeInUp" data-wow-delay="0.75s">
                        <p>Sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et</p>
                        <p>Dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergrenEirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                        <p>consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12 loaditem">
                <div class="blog-box">
                    <div class="blog-img wow animated fadeInUp" data-wow-delay="0.45s"></div>
                    <div class="blog-title-box wow animated fadeInRight" data-wow-delay="0.5s">
                        <h3><a href="@Url.Action("Details", "Blog")">Living Room Decor Ideas</a></h3>
                        <span class="date">AUG 23, 2019</span>
                    </div>
                    <div class="blog-content wow animated fadeInUp" data-wow-delay="0.75s">
                        <p>Sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et</p>
                        <p>Dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergrenEirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                        <p>consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12 loaditem">
                <div class="blog-box">
                    <div class="blog-img wow animated fadeInUp" data-wow-delay="0.65s"></div>
                    <div class="blog-title-box wow animated fadeInRight" data-wow-delay="0.5s">
                        <h3><a href="@Url.Action("Details", "Blog")">How To Clean Your Glass Top Stove</a></h3>
                        <span class="date">AUG 23, 2019</span>
                    </div>
                    <div class="blog-content wow animated fadeInUp" data-wow-delay="0.75s">
                        <p>Sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et</p>
                        <p>Dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergrenEirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                        <p>consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Section End -->
