
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCleaner.cshtml";
}



<!-- Page Banner Area Start -->
<div class="page-banner-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 d-flex pr-lg-0">
                <div class="banner-content">
                    <h2 class="section-title wow animated fadeInUp" data-wow-delay="0.25s">Choose a service to get started.</h2>
                    <div class="banner-bottom-img wow animated fadeInUp" data-wow-delay="0.75s">
                        <img src="~/Public/images/banner/banner-bottom.png" alt="Banner Bottom">
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="banner-img wow animated fadeInUp" data-wow-delay="0.5s">
                    <div class="pop-over wow animated fadeInRight" data-wow-delay="1s"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Banner Area End -->
<!-- Services Page Start -->
<section class="services-page">
    <div class="container">
        <div class="row align-items-center services-loadmore">
            <div class="col-lg-6 loaditem">
                <div class="services-boxes">
                    <div class="box-shape" data-aos="slide-down"></div>
                    <div class="service-box active ml-50 mr-50">
                        <div class="service-box-img">
                            <img class="wow animated fadeInUp" data-wow-delay="0.25s" src="~/Public/images/services/service-1.png" alt="Service Box">
                        </div>
                        <h6 class="wow animated fadeInUp" data-wow-delay="0.35s">We’ll Bring the Toolbox</h6>
                        <h3 class="wow animated fadeInUp" data-wow-delay="0.45s"><a class="underline" href="@Url.Action("Details", "Services")">Furniture Assembly</a></h3>
                    </div>
                    <div class="service-box">
                        <div class="service-box-img">
                            <img class="wow animated fadeInUp" data-wow-delay="0.5s" src="~/Public/images/services/service-2.png" alt="Service Box">
                        </div>
                        <h6 class="wow animated fadeInUp" data-wow-delay="0.6s">Moving Help</h6>
                        <h3 class="wow animated fadeInUp" data-wow-delay="0.7s"><a class="underline" href="@Url.Action("Details", "Services")">Office cleaning</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 loaditem">
                <div class="services-boxes">
                    <div class="box-shape" data-aos="slide-down"></div>
                    <div class="service-box ml-50 mr-50">
                        <div class="service-box-img">
                            <img class="wow animated fadeInUp" data-wow-delay="0.25s" src="~/Public/images/services/service-3.png" alt="Service Box">
                        </div>
                        <h6 class="wow animated fadeInUp" data-wow-delay="0.35s">Tile grouting scrubbed</h6>
                        <h3 class="wow animated fadeInUp" data-wow-delay="0.45s"><a class="underline" href="@Url.Action("Details", "Services")">Bathrooms</a></h3>
                    </div>
                    <div class="service-box">
                        <div class="service-box-img">
                            <img class="wow animated fadeInUp" data-wow-delay="0.5s" src="~/Public/images/services/service-4.png" alt="Service Box">
                        </div>
                        <h6 class="wow animated fadeInUp" data-wow-delay="0.6s">Knickknack areas</h6>
                        <h3 class="wow animated fadeInUp" data-wow-delay="0.7s"><a class="underline" href="@Url.Action("Details", "Services")">Kitchens</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 loaditem">
                <div class="services-boxes">
                    <div class="box-shape" data-aos="slide-down"></div>
                    <div class="service-box ml-50 mr-50">
                        <div class="service-box-img">
                            <img class="wow animated fadeInUp" data-wow-delay="0.25s" src="~/Public/images/services/service-5.png" alt="Service Box">
                        </div>
                        <h6 class="wow animated fadeInUp" data-wow-delay="0.35s">Light Switch Install</h6>
                        <h3 class="wow animated fadeInUp" data-wow-delay="0.45s"><a class="underline" href="@Url.Action("Details", "Services")">Electrical Service</a></h3>
                    </div>
                    <div class="service-box">
                        <div class="service-box-img">
                            <img class="wow animated fadeInUp" data-wow-delay="0.5s" src="~/Public/images/services/service-6.png" alt="Service Box">
                        </div>
                        <h6 class="wow animated fadeInUp" data-wow-delay="0.6s">Ceiling & Bath Fans</h6>
                        <h3 class="wow animated fadeInUp" data-wow-delay="0.7s"><a class="underline" href="@Url.Action("Details", "Services")">Outlet Install</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 loaditem">
                <div class="services-boxes">
                    <div class="box-shape" data-aos="slide-down"></div>
                    <div class="service-box ml-50 mr-50">
                        <div class="service-box-img">
                            <img class="wow animated fadeInUp" data-wow-delay="0.25s" src="~/Public/images/services/service-7.png" alt="Service Box">
                        </div>
                        <h6 class="wow animated fadeInUp" data-wow-delay="0.35s">Every Time We Clean</h6>
                        <h3 class="wow animated fadeInUp" data-wow-delay="0.45s"><a class="underline" href="@Url.Action("Details", "Services")">Sleeping Areas</a></h3>
                    </div>
                    <div class="service-box">
                        <div class="service-box-img">
                            <img class="wow animated fadeInUp" data-wow-delay="0.5s" src="~/Public/images/services/service-8.png" alt="Service Box">
                        </div>
                        <h6 class="wow animated fadeInUp" data-wow-delay="0.6s">Flat areas hand wiped</h6>
                        <h3 class="wow animated fadeInUp" data-wow-delay="0.7s"><a class="underline" href="@Url.Action("Details", "Services")">Living Areas</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 loaditem">
                <div class="services-boxes">
                    <div class="box-shape" data-aos="slide-down"></div>
                    <div class="service-box active ml-50 mr-50">
                        <div class="service-box-img">
                            <img class="wow animated fadeInUp" data-wow-delay="0.25s" src="~/Public/images/services/service-1.png" alt="Service Box">
                        </div>
                        <h6 class="wow animated fadeInUp" data-wow-delay="0.35s">We’ll Bring the Toolbox</h6>
                        <h3 class="wow animated fadeInUp" data-wow-delay="0.45s"><a class="underline" href="@Url.Action("Details", "Services")">Furniture Assembly</a></h3>
                    </div>
                    <div class="service-box">
                        <div class="service-box-img">
                            <img class="wow animated fadeInUp" data-wow-delay="0.5s" src="~/Public/images/services/service-2.png" alt="Service Box">
                        </div>
                        <h6 class="wow animated fadeInUp" data-wow-delay="0.6s">Moving Help</h6>
                        <h3 class="wow animated fadeInUp" data-wow-delay="0.7s"><a class="underline" href="@Url.Action("Details", "Services")">Office cleaning</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 loaditem">
                <div class="services-boxes">
                    <div class="box-shape" data-aos="slide-down"></div>
                    <div class="service-box ml-50 mr-50">
                        <div class="service-box-img">
                            <img class="wow animated fadeInUp" data-wow-delay="0.25s" src="~/Public/images/services/service-3.png" alt="Service Box">
                        </div>
                        <h6 class="wow animated fadeInUp" data-wow-delay="0.35s">Tile grouting scrubbed</h6>
                        <h3 class="wow animated fadeInUp" data-wow-delay="0.45s"><a class="underline" href="@Url.Action("Details", "Services")">Bathrooms</a></h3>
                    </div>
                    <div class="service-box">
                        <div class="service-box-img">
                            <img class="wow animated fadeInUp" data-wow-delay="0.5s" src="~/Public/images/services/service-4.png" alt="Service Box">
                        </div>
                        <h6 class="wow animated fadeInUp" data-wow-delay="0.6s">Knickknack areas</h6>
                        <h3 class="wow animated fadeInUp" data-wow-delay="0.7s"><a class="underline" href="@Url.Action("Details", "Services")">Kitchens</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 loaditem">
                <div class="services-boxes">
                    <div class="box-shape" data-aos="slide-down"></div>
                    <div class="service-box ml-50 mr-50">
                        <div class="service-box-img">
                            <img class="wow animated fadeInUp" data-wow-delay="0.25s" src="~/Public/images/services/service-5.png" alt="Service Box">
                        </div>
                        <h6 class="wow animated fadeInUp" data-wow-delay="0.35s">Light Switch Install</h6>
                        <h3 class="wow animated fadeInUp" data-wow-delay="0.45s"><a class="underline" href="@Url.Action("Details", "Services")">Electrical Service</a></h3>
                    </div>
                    <div class="service-box">
                        <div class="service-box-img">
                            <img class="wow animated fadeInUp" data-wow-delay="0.5s" src="~/Public/images/services/service-6.png" alt="Service Box">
                        </div>
                        <h6 class="wow animated fadeInUp" data-wow-delay="0.6s">Ceiling & Bath Fans</h6>
                        <h3 class="wow animated fadeInUp" data-wow-delay="0.7s"><a class="underline" href="@Url.Action("Details", "Services")">Outlet Install</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 loaditem">
                <div class="services-boxes">
                    <div class="box-shape" data-aos="slide-down"></div>
                    <div class="service-box ml-50 mr-50">
                        <div class="service-box-img">
                            <img class="wow animated fadeInUp" data-wow-delay="0.25s" src="~/Public/images/services/service-7.png" alt="Service Box">
                        </div>
                        <h6 class="wow animated fadeInUp" data-wow-delay="0.35s">Every Time We Clean</h6>
                        <h3 class="wow animated fadeInUp" data-wow-delay="0.45s"><a class="underline" href="@Url.Action("Details", "Services")">Sleeping Areas</a></h3>
                    </div>
                    <div class="service-box">
                        <div class="service-box-img">
                            <img class="wow animated fadeInUp" data-wow-delay="0.5s" src="~/Public/images/services/service-8.png" alt="Service Box">
                        </div>
                        <h6 class="wow animated fadeInUp" data-wow-delay="0.6s">Flat areas hand wiped</h6>
                        <h3 class="wow animated fadeInUp" data-wow-delay="0.7s"><a class="underline" href="@Url.Action("Details", "Services")">Living Areas</a></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services Page End -->

@RenderPage("~/Views/Shared/TestimonialsView.cshtml")

<!-- Blog Section Start -->
<section class="blog-section">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 order-xl-3">
                <div class="blog-box">
                    <h4 class="section-title-hint wow animated fadeInUp" data-wow-delay="0.25s">Blog</h4>
                    <h2 class="section-title mb-40 wow animated fadeInUp" data-wow-delay="0.5s">Tips, News & Updates</h2>
                    <div class="blog-img wow animated fadeInUp" data-wow-delay="0.65s"></div>
                    <div class="blog-title-box wow animated fadeInRight" data-wow-delay="1.15s">
                        <h3><a href="blog-details.html">How To Clean Your Glass Top Stove</a></h3>
                        <span class="date">AUG 23, 2019</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="blog-box big">
                    <div class="blog-img wow animated fadeInUp" data-wow-delay="0.25s"></div>
                    <div class="blog-title-box wow animated fadeInRight" data-wow-delay="0.75s">
                        <h3><a href="blog-details.html">How to Make Your Bed Like a Pro</a></h3>
                        <span class="date">AUG 23, 2019</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="blog-box big">
                    <div class="blog-img wow animated fadeInUp" data-wow-delay="0.45s"></div>
                    <div class="blog-title-box wow animated fadeInRight" data-wow-delay="0.95s">
                        <h3><a href="blog-details.html">Living Room Decor Ideas</a></h3>
                        <span class="date">AUG 23, 2019</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Section End -->
